# Base de datos de KPIs (puerto 5432)
DB_KPIS_HOST=
DB_KPIS_PORT=5432
DB_KPIS_USER=
DB_KPIS_PASSWORD=
DB_KPIS_NAME=

# Base de datos de Metas (puerto 5433)
DB_METAS_HOST=
DB_METAS_PORT=5433
DB_METAS_USER=
DB_METAS_PASSWORD=
DB_METAS_NAME=

# Base de datos de Equipos (puerto 5434)
DB_EQUIPOS_HOST=
DB_EQUIPOS_PORT=5434
DB_EQUIPOS_USER=
DB_EQUIPOS_PASSWORD=
DB_EQUIPOS_NAME=